.step-group{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-group p{
    font-size: 20px;
}

.img-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    position: relative;
    
}
#imgLogo{
    max-width: 200px;
}
.img-group i{
 position: absolute;
 font-size: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-group .fa-check-circle{
    top:0;
    color:rgb(20, 156, 20);
}

.img-group .fa-times-circle{
    top:0;
    right: -25px;
    color:rgb(138, 21, 21);
}

.line{
 
   opacity: 0.4;
    width: 300px;
    background-color: #17a2b8;
    height: 2px;
}